data/interim/*
data/processed/*
data/raw/*
!data/interim/README.md
!data/processed/README.md
!data/raw/README.md
.venv/
*.tar.gz

# Ignore downloaded model weight files
models/*

# Ignore Python cache files
__pycache__/

# ignore output files
output/*
!output/inspect_data/**
